<!-- wp:separator {"lock":{"move":true,"remove":true},"metadata":{"name":"Start Template Hook"},"className":"strap-action-hook strap_hook_start_template"} -->
<hr class="wp-block-separator has-alpha-channel-opacity strap-action-hook strap_hook_start_template" />
<!-- /wp:separator -->

<!-- wp:template-part {"slug":"part-blank","area":"uncategorized"} /-->

<!-- wp:separator {"lock":{"move":true,"remove":true},"metadata":{"name":"End Template Hook"},"className":"strap-action-hook strap_hook_end_template"} -->
<hr class="wp-block-separator has-alpha-channel-opacity strap-action-hook strap_hook_end_template" />
<!-- /wp:separator -->