<!-- wp:separator {"lock":{"move":true,"remove":true},"metadata":{"name":"Start Template Hook"},"className":"strap-action-hook strap_hook_start_template"} -->
<hr class="wp-block-separator has-alpha-channel-opacity strap-action-hook strap_hook_start_template" />
<!-- /wp:separator -->

<!-- wp:post-content {"align":"full","className":"canvas-content","layout":{"type":"constrained"}} /-->

<!-- wp:separator {"lock":{"move":true,"remove":true},"metadata":{"name":"End Template Hook"},"className":"strap-action-hook strap_hook_end_template"} -->
<hr class="wp-block-separator has-alpha-channel-opacity strap-action-hook strap_hook_end_template" />
<!-- /wp:separator -->