<!-- wp:separator {"lock":{"move":true,"remove":true},"metadata":{"name":"Start Template Hook"},"className":"strap-action-hook strap_hook_start_template"} -->
<hr class="wp-block-separator has-alpha-channel-opacity strap-action-hook strap_hook_start_template" />
<!-- /wp:separator -->

<!-- wp:template-part {"slug":"header","tagName":"header","area":"header","className":"site-header"} /-->

<!-- wp:separator {"lock":{"move":true,"remove":true},"metadata":{"name":"Start Main Hook"},"className":"strap-action-hook strap_hook_start_main"} -->
<hr class="wp-block-separator has-alpha-channel-opacity strap-action-hook strap_hook_start_main" />
<!-- /wp:separator -->

<!-- wp:template-part {"slug":"part-home","tagName":"main","area":"uncategorized","className":"site-main main-home"} /-->

<!-- wp:separator {"lock":{"move":true,"remove":true},"metadata":{"name":"End Main Hook"},"className":"strap-action-hook strap_hook_end_main"} -->
<hr class="wp-block-separator has-alpha-channel-opacity strap-action-hook strap_hook_end_main" />
<!-- /wp:separator -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","area":"footer","className":"site-footer"} /-->

<!-- wp:separator {"lock":{"move":true,"remove":true},"metadata":{"name":"End Template Hook"},"className":"strap-action-hook strap_hook_end_template"} -->
<hr class="wp-block-separator has-alpha-channel-opacity strap-action-hook strap_hook_end_template" />
<!-- /wp:separator -->